<div class="buffer-bottom mt-4 pt-2 pr-2 pl-2 border rounded">
  <p><%= comment.text %></p>
  <p class="text-right text-muted mb-0">
    <%= comment.user.name %>  |
    <%= l comment.created_at, format: :short %>
    <%= link_to(
            'trash', item_comment_path(comment.item, comment),
            method: :delete, data: {confirm: 'destroy_confirm'}
        ) %>
  </p>
</div>