<div class="buffer-bottom">
  <p><%= comment.text %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= comment.user.name %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
  </p>
</div>