.item-background {
  width: 300px;
  height: 300px;
  background-clip: border-box;
  background-size: contain;
  background-position: center;
}

.left_posit {
  max-width: 800px;
  max-height: 400px;
  background: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-elegant-light-blue-line-background-image_272095.jpg");
  background-size: cover;
  transform: rotate(+1deg);
  position: relative;
  left: -25px;
}

.right_posit {
  max-width: 800px;
  max-height: 400px;
  background: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-hd-aurora-background-wallpaper-computer-wallpaper-3840x2400-image_264755.jpg");
  transform: rotate(-1deg);
  background-size: cover;
  position: relative;
  left: +25px;
}

.border_rad {
  border-radius: 20px;
}

@media (max-width: 640px) {
  .left_posit,
  .right_posit {
    position: relative;
    left: 0px;
  }
}

@media (max-width: 960px) {
  .item-background {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 640px) {
  .item-background {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .item-background {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 320px) {
  .item-background {
    width: 50px;
    height: 50px;
  }
}
