<div class=" col-sm-auto m-2 coin">
  <%= link_to content_tag('div', '', class: "item-background border_circle",
                          style: "background-image: url(#{asset_path('coin.jpg')})"), item_path(item) %>
</div>

