<div class=" col-sm-auto m-2 def_type border_rad20">
  <%= link_to content_tag('div', '', class: "item-background border_rad20",
                          style: "background-image: url(#{asset_path('item.jpg')})"), item_path(item) %>
</div>
