<div class="col-md-3 col-sm-4 m-2">
    <%= link_to content_tag('div', '', class: 'item-background',
                            style: "background-image: url(#{asset_path('item.jpg')})"), item_path(item) %>

    <div class="text-white">
      <h3><%= link_to item.name, item_path(item) %></h3>
      <h3><%= item.user.name %></h3>
      <br>
    </div>
</div>