<div class=" col-sm-auto m-2 mark ">
  <%= link_to content_tag('div', '', class: "item-background",
                          style: "background-image: url(#{asset_path(random_mark_background)})"), item_path(item) %>
</div>
