<%= simple_form_for [@item, photo] do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row mt-4">
    <div class="col-md-7 pr-0">
      <%= f.input :photo_url, label: false, placeholder: 'input URL-photo' %>
    </div>
    <div class="col-auto pl-0">
      <%= f.button :submit, "Add Photo", class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>

